 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Palmaz Ahmad and I'm a University student Studying Computing. This is my Personal Website I've created to showcase my Projects and interesting stuff I'm working on.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am also working on creating a blog, this will include Personal, Tech related, University Journals and more. It will be released soon!! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://google.com" class="btn btn-lg btn-outline">
                        </i> Google Button
                    </a>
                </div>
            </div>
        </div>
    </section>
