 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Palmaz Ahmad and I'm a University student studying Computing currently on Placement. I mainly work as an Analyst heavily related to data.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have also created a blog too, this will include Personal, Tech related, University Journals and more. Click the button below to check out what's up already. :) </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/blog" class="btn btn-lg btn-outline">Read my Blog</a>
                </div>
            </div>
        </div>
    </section>
