<section class="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h1>{{ page.title }} </h1>
                    <hr class="star-primary-post">
                </div>
                    {{ content }}
                
                
            </div>
            <br>
            <br>
                {{page.author}} {{site.time}} 

              
            
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/blog" class="btn btn-lg btn-outline-blog">
                        </i> Back to Blogs
                    </a>
                </div>
 </section>